.hero-button{
    color: $white !important;
    padding-left: rem(35px) !important;
    border-radius: rem(50px) !important;
    padding-right: rem(35px) !important;
    background-color: $secondary;
}