@media screen {
  p {
    font-size: rem(16px);
    @include media-breakpoint-down(md) {
      font-size: $responsive-font-size;
    }

    b,
    strong {
      font-weight: bold;
      font-family: $poppins_bold;
    }
  }
}