.services{
    .services__item{
        text-align: center;
        padding: rem(20px);
        margin-bottom: rem(20px);
        transition: all 0.5s ease;
        &:hover{
            background-color: $lite-white;
            .services__item__content{
                background-color: $white;
                transition: all 0.3s ease;
                a{
                    color: $white;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    background-color: $primary;
                    background-position: right rem(20px) center;
                    padding: rem(10px) rem(35px) rem(10px) rem(20px);
                    background-image: url('../../assets/images/icons/arrow-right-white.svg');
                }
            }
        }
        &__content{
            height: 100%;
            padding: rem(15px); 
            img{
                max-width: rem(60px);
                max-height: rem(60px);
                margin-bottom: rem(30px);
            }
            h1{
                font-size: rem(16px);
                margin-bottom: rem(5px);
            }
            P{
                margin-bottom: rem(20px);
            }
            a{
                color: $primary;
                padding-right: rem(15px);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: rem(12px) rem(12px);
                background-image: url('../../assets/images/icons/arrow-right.svg');
            }
        }
    }  
    
    .service-news__wrapper{
        border-radius: 5px;
        background-color: #FCFCFC;
        .nav-tabs{
            justify-content: space-evenly;
            li{
                width: 50%;
                a{
                    color: $mine-shaft;
                    text-align: center;
                    background-color: #F5F5F5;
                    &.active{
                        color: $white;
                        background-color: $primary;
                    }
                }
            }
        }
        .tab-content {
            padding: 20px;
            @include media-breakpoint-up(md){
                overflow-y: auto;
                max-height: 700px;
            }
        }
        .service-news__item{
            display: flex;
            margin-bottom: rem(30px);
            .service-news{
                flex: 1;
                .title{
                    font-weight: 500;
                    color: $secondary;
                    margin-bottom: rem(5px);
                    a{
                        color: $secondary;
                        font-weight: 500;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                .details{
                    font-size: rem(14px);
                }
                .time{
                    font-size: rem(14px);
                    margin-bottom: 0;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}