.services{
    .services__item{
        text-align: center;
        padding: rem(20px);
        margin-bottom: rem(20px);
        transition: all 0.5s ease;
        &:hover{
            background-color: $lite-white;
            .services__item__content{
                color: inherit;
                text-decoration: none;
                background-color: $white;
                transition: all 0.3s ease;
                // a{
                //     color: $white;
                //     text-decoration: none;
                //     transition: all 0.3s ease;
                //     background-color: $primary;
                //     background-position: right rem(20px) center;
                //     padding: rem(10px) rem(35px) rem(10px) rem(20px);
                //     background-image: url('../../assets/images/icons/arrow-right-white.svg');
                // }
            }
        }
        &__content{
            height: 100%;
            padding: rem(15px); 
            height: 100%;
            width: 100%;
            color: inherit;
            display: block;

            img{
                max-width: rem(60px);
                max-height: rem(60px);
                margin-bottom: rem(30px);
            }
            h1{
                font-weight: bold;
                font-size: rem(16px);
                margin-bottom: rem(6px);
            }
            P{
                font-size: rem(15px);
                margin-bottom: rem(0px);
            }
            // a{
            //     color: $primary;
            //     padding-right: rem(15px);
            //     background-repeat: no-repeat;
            //     background-position: right center;
            //     background-size: rem(12px) rem(12px);
            //     background-image: url('../../assets/images/icons/arrow-right.svg');
            // }
        }
    }  
    
    .service-news__wrapper{
        border-radius: 5px;
        margin-bottom: rem(15px);
        background-color: #FCFCFC;
        .nav-tabs{
            justify-content: space-evenly;
            li{
                width: 50%;
                &:first-child{
                    a{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 0;
                    }
                }
                &:last-child{
                    a{
                        border-top-right-radius: 5px;    
                        border-top-left-radius: 0;
                    }
                }
                a{
                    color: $mine-shaft;
                    text-align: center;
                    background-color: #F5F5F5;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    &.active{
                        color: $white;
                        background-color: $primary;
                    }
                }
            }
        }
        .tab-content {
            padding: 20px;
            @include media-breakpoint-up(md){
                overflow-y: auto;
                max-height: 330px;
            }
        }
        .service-news__item{
            display: flex;
            margin-bottom: rem(20px);
            .service-news-image img {
                max-width: 100%;
                height: auto;
            }
            
            .service-news-image {
                width: 75px;
                margin-right: 10px;
                height: 75px;
            }
            .service-news-image>a {
                display: block;
            }
            .service-news{
                flex: 1;
                .title{
                    font-weight: 500;
                    color: $secondary;
                    margin-bottom: rem(5px);
                    a{
                        display: block;
                        color: $secondary;
                        font-weight: 500;
                        font-size: rem(14px);
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                .details{
                    font-size: rem(14px);
                }
                .time{
                    font-size: rem(14px);
                    margin-bottom: 0;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .service-links__wrapper{
        margin-bottom: rem(10px);
        .service-links__header{
            color: $white;
            background-color: $primary;
            padding: rem(10px) rem(20px);
            border-top-left-radius: rem(5px);
            border-top-right-radius: rem(5px);
            p{
                margin-bottom: 0;
            }
        }
        .service-links__body{
            overflow-y: auto;
            max-height: rem(365px);
            background-color: #FCFCFC;
            padding: rem(20px) rem(20px);
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    margin-bottom: rem(12px);
                    a{
                        font-size: 14px;
                        display: block;
                        color: $secondary;
                        line-height: 21px;
                        padding-left: 27px;
                        position: relative;
                        &:hover{
                            text-decoration: none;
                        }
                        &:before{
                            left: 0;
                            top: 1px;
                            content: '';
                            display: block;
                            width: rem(20px);
                            height: rem(20px);
                            position: absolute;
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url('../../../assets/images/icons/check.svg');
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}