<section class="resources section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Recent Resources</h1>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="carousel_show_all">
                        <a href="resource-list.html">Show (15)</a>
                    </div>

                    <div class="carousel_control">
                        <a class="carousel_prev" href="javascript:;"></a>
                        <a class="carousel_next" href="javascript:;"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel mt-3">
            <div class="item">
                <a href="#">
                    <img src="../assets/images/resources/image20.jpg" />
                    <h5>Tilapedia: A Social Media Marketing & Promotion Strategy for Tilapia.</h5>
                </a>
                <p>April 17, 2021</p>
            </div>
            <div class="item">
                <a href="#">
                    <img src="../assets/images/resources/image22.jpg" />
                    <h5>A way of traditional fishing for hybrid fish & vaccination.</h5>
                </a>
                <p>March 12, 2021</p>
            </div>
            <div class="item">
                <a href="#">
                    <img src="../assets/images/resources/image23.jpg" />
                    <h5>A way of traditional fishing for hybrid fish & vaccination.</h5>
                </a>
                <p>January 17, 2021</p>
            </div>
            <div class="item">
                <a href="#">
                    <img src="../assets/images/resources/image20.jpg" />
                    <h5>Tilapedia: A Social Media Marketing & Promotion Strategy for Tilapia.</h5>
                </a>
                <p>April 17, 2021</p>
            </div>
        </div>
    </div>
</section>