<section class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services__item">
                    <div class="services__item__content">
                        <img src="../assets/images/services/user-check.svg" alt="">
                        <h1>Attandance Application</h1>
                        <p>This is for managing training attandance data.</p>
                        <a href="">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services__item">
                    <div class="services__item__content">
                        <img src="../assets/images/services/globe.svg" alt="">
                        <h1>Aqual GIS</h1>
                        <p>The one stop place for all data releated to Aqual GIS.</p>
                        <a href="">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services__item">
                    <div class="services__item__content">
                        <img src="../assets/images/services/pie-chart.svg" alt="">
                        <h1>Result Dashboard</h1>
                        <p>Results of the recent projects are continued here.</p>
                        <a href="">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services__item">
                    <div class="services__item__content">
                        <img src="../assets/images/services/book-open.svg" alt="">
                        <h1>Survey</h1>
                        <p>This is the dynamic survey management system.</p>
                        <a href="">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services__item">
                    <div class="services__item__content">
                        <img src="../assets/images/services/sun.svg" alt="">
                        <h1>Accessories</h1>
                        <p>Here are some of the office management tools. </p>
                        <a href="">Explore</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>