<section class="video-list section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="video-list--large">
                    <a href="javascript:;" class="video-list__modal-button">
                    </a>
                    <video controls autoplay>
                        <source src="../assets/videos/mov_bbb012.mp4" type="video/mp4" >
                        Your browser does not support the video tag.
                    </video>
                    <div class="video-title">Video title goes here..</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-list--small">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <a href="javascript:;" class="video-list__modal-button">
                            </a>
                            <video controls autoplay>
                                <source src="../assets/videos/mov_bbb.mp4" type="video/mp4" >
                                Your browser does not support the video tag.
                            </video>
                            <div class="video-title">Video title goes here..</div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="javascript:;" class="video-list__modal-button">
                            </a>
                            <video controls autoplay>
                                <source src="../assets/videos/mov_bbb.mp4" type="video/mp4" >
                                Your browser does not support the video tag.
                            </video>
                            <div class="video-title">Video title goes here..</div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="javascript:;" class="video-list__modal-button">
                            </a>
                            <video controls autoplay>
                                <source src="../assets/videos/mov_bbb.mp4" type="video/mp4" >
                                Your browser does not support the video tag.
                            </video>
                            <div class="video-title">Video title goes here..</div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <a href="javascript:;" class="video-list__modal-button">
                            </a>
                            <video controls autoplay>
                                <source src="../assets/videos/mov_bbb.mp4" type="video/mp4" >
                                Your browser does not support the video tag.
                            </video>
                            <div class="video-title">Video title goes here..</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="VideoeModal" tabindex="-1" aria-labelledby="VideoeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VideoeModalLabel">Video title goes here...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <video controls autoplay>
                        <source src="../assets/videos/mov_bbb.mp4" type="video/mp4" >
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>